<div id="dashboard" class="container p-4 shadow">
    <!-- Neighborhood Filter -->
    <app-neighborhood-filter *ngIf="isNeighborhoodDashboard$ | async; 
        else addressFilter"></app-neighborhood-filter>
    <!-- Address Filter -->
    <ng-template #addressFilter>
            <app-address-filter></app-address-filter>
    </ng-template>
</div>
<div class="p-4 mt-3">
    <div>
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-6">
                <app-map></app-map>
            </div>
            <div class="col-12 col-sm-12 col-lg-6">
                <app-chart></app-chart>
                <app-additional-details></app-additional-details>
            </div>
        </div>
    </div>
</div>