<h2>Seasonality Forecast</h2>

<h3 *ngIf="filter.timeframe !== 0 
  && filter.city != 'None'; else selectHeader">
  <strong>
    {{ splitCamelCase(filter.city) }}
  </strong> in <strong>{{filter.timeframe}}</strong> Months</h3>

<ng-template #selectHeader>
  <h3>Select a <strong>city</strong> and <strong>timeframe</strong> to view or update the forecast</h3>
</ng-template>

<highcharts-chart id="chart" 
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>