<h2>Seasonality Forecast</h2>

<div *ngIf="filter.city != 'None'
  && ((isCityDashboard && filter.timeframe !== 0) || (!isCityDashboard)); else selectHeader">
  <h3>
    <strong>
      {{ splitCamelCase(filter.city) }}
    </strong> in <strong>{{filter.timeframe}}</strong> Months</h3>

  <highcharts-chart id="chart" 
    [Highcharts]="Highcharts"
    [options]="chartOptions"

    style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>
</div>

<ng-template #selectHeader>
  <h3>Select a <strong>location (city or address)</strong> and <strong>timeframe</strong> to view or update the forecast</h3>
</ng-template>