<div class="container">
    <!-- City Filter -->
    <div id="filter-row">
        <form [formGroup]="cityFilterGroup">
            <div class="w-100"></div>
            <div id="filter" class="row">
                <div class="col-6">
                    <div class="row">
                        <!-- City Dropdown -->
                        <div id="city" class="col">
                            <h2>City</h2>
                            <mat-form-field appearance="fill">
                                <mat-label>City</mat-label>
                                    <mat-select formControlName="city" required
                                        (ngModelChange)="onCityChanged($event)">
                                        <mat-option value="Tampa">Tampa</mat-option>
                                        <mat-option value="StPetersburg">St. Petersburg</mat-option>
                                        <mat-option value="Clearwater">Clearwater</mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Timeframe Dropdown -->
                        <div id="timeframe" class="col">
                            <h3>Look Ahead:
                                <i class="fa-solid fa-circle-info"
                                    matTooltip="Number of months to predict from December 2021.
                                    A city must be selected to enable this."
                                    [matTooltipPosition]="'right'">
                                </i>
                            </h3>
                            <mat-form-field appearance="fill">
                                <mat-label>Timeframe</mat-label>
                                    <mat-select [disabled]="!this.cityFilterGroup.get('city')?.value"
                                        formControlName="timeframe" required
                                        (ngModelChange)="onCityFilterChanged()">
                                        <mat-option value="3">3 Months</mat-option>
                                        <mat-option value="6">6 Months</mat-option>
                                        <mat-option value="12">12 Months</mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Interval Dropdown -->
                        <div id="interval" class="col">
                            <h3>Training Interval: 
                                <i class="fa-solid fa-circle-info"
                                    matTooltip="The period in months that the model was trained based on Shiller data.
                                    A timeframe must be selected to enable this."
                                    [matTooltipPosition]="'right'">
                                </i>
                            </h3>
                            <mat-form-field appearance="fill">
                                <mat-label>Training Interval</mat-label>
                                    <mat-select formControlName="interval"
                                        (ngModelChange)="onIntervalChanged()"
                                        [disabled]="!this.cityFilterGroup.get('timeframe')?.value">
                                        <mat-option 
                                            *ngFor="let interval of this.intervals" 
                                            [value]="interval">{{ interval }}
                                        </mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </div>
                        <div [hidden]="!this.cityFilterGroup.get('interval')?.value" id="predictionInterval" class="col">
                            <h3>Predicted Interval:<br><br>
                                <strong>{{ predictionInterval }}</strong></h3>
                        </div>
                    </div>
                    <div class="w-100"></div>
                </div>
                <div class="col-6">
                    <app-additional-details></app-additional-details>
                </div>
                <div class="col-6"></div>
                <div [hidden]="!this.cityFilterGroup.get('interval')?.value" class="col-6">
                    <app-download [cityFilterGroup]="cityFilterGroup"></app-download>
                </div>
            </div>
        </form>
    </div>
</div>