html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar-light .navbar-nav .nav-link {
    color: rgb(83, 44, 19);
}

#filter-row {
    #filter {
        text-align: center;
    }
}
