html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2 {
    color: rgb(83, 47, 25);
}

.navbar-light .navbar-nav .nav-link {
    padding: 1em;
    color: rgb(83, 44, 19);
}

.nav-item.nav-link:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#dashboard {
    margin-left: 0px;
}

.active {
    font-weight: 500;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filter-button {
    width: 25% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#map {
    height: 500px;
    width: 800px;
}

#chart {
    height: 350px !important; 
    width: 650px !important;
}

#additional-details > table {
    width: 75%;
}

@media (max-width: 1660px) {
    #map {
        height: 500px;
        width: 600px;
    }
    
    #chart {
        height: 350px !important; 
        width: 550px !important;
    }
}

@media (max-width: 1342px) {
    #map {
        height: 500px;
        width: 500px;
    }
    
    #chart {
        height: 350px !important; 
        width: 550px !important;
    }
}

@media (max-width: 1162px) {
    #map {
        height: 500px;
        width: 450px;
    }
    
    #chart {
        height: 250px !important; 
        width: 450px !important;
    }
}

@media (max-width: 992px) {
    #map {
        height: 500px;
        width: 800px;
    }
    
    #chart {
        margin-top: 10px !important;
        height: inherit !important; 
        width: inherit !important;
    }
}

