<div id="additional-details">
    <h2>Additional Details</h2>
    <table *ngIf="!isCityDashboard else modelInsights" class="table">
        <tbody>
            <tr>
                <th scope="row">Walk Score</th>
                <td>{{ scores.walkScore === -1 ? '' : scores.walkScore }}</td>
                <th scope="row">Transit Score</th>
                <td>{{ scores.transitScore === -1 ? '' : scores.transitScore }}</td>
                <th scope="row">Bike Score</th>
                <td>{{ scores.bikeScore === -1 ? '' : scores.bikeScore }}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #modelInsights>
        <div class="my-4">Results with respect to the <strong>training interval</strong></div>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Best Prediction</th>
                    <th scope="row">Worst Prediction</th>
                    <th scope="row">RMSPE</th>
                </tr>
                <tr>
                    <td scope="row" style="color: green;">{{ predictionResult.bestPrediction }}</td>
                    <td scope="row" style="color: red;">{{ predictionResult.worstPrediction }}</td>
                    <td scope="row" style="color: blue;">{{ predictionResult.rmspe }}%</td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>