<div class="container">
    <!-- Neighborhood Filter -->
    <div id="filter-row">
        <form [formGroup]="neighborhoodFilter" class="row shadow p-3">
            <div class="w-100"></div>
            <div id="filter" class="row">
                <h2 class="my-4">Neighborhood Filter</h2>
                <!-- Neighborhood Dropdown -->
                <div id="neighborhood" class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Neighborhood</mat-label>
                            <mat-select formControlName="neighborhood"
                                (ngModelChange)="onNeighborhoodFilterChanged()">
                                <mat-option value="Tampa">Tampa</mat-option>
                                <mat-option value="StPetersburg">St. Petersburg</mat-option>
                                <mat-option value="Clearwater">Clearwater</mat-option>
                            </mat-select>
                    </mat-form-field>
                </div>
                <!-- Timeframe Dropdown -->
                <div id="timeframe" class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Timeframe</mat-label>
                            <mat-select formControlName="timeframe">
                                <mat-option value="3">3 Months</mat-option>
                                <mat-option value="6">6 Months</mat-option>
                                <mat-option value="12">12 Months</mat-option>
                            </mat-select>
                    </mat-form-field>
                </div>
                <!-- Walk Score -->
                <div id="walk-score" class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Walk Score</mat-label>
                            <input type="number" matInput formControlName="walkScore" placeholder="0-100">
                    </mat-form-field>
                </div>
                <!-- Transit Score -->
                <div id="transit-score" class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Transit Score</mat-label>
                            <input type="number" matInput formControlName="transitScore" placeholder="0-100">
                    </mat-form-field>
                </div>
                <!-- Bike Score -->
                <div id="timeframe" class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Bike Score</mat-label>
                            <input type="number" matInput formControlName="bikeScore" placeholder="0-100">
                    </mat-form-field>
                </div>
                <div class="w-100"></div>
                <div class="col-12">
                    <button type="button" class="btn btn-outline-dark btn-sm" 
                        (click)="onNeighborhoodFilterChanged()">
                        Filter
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>